<div class="availability-container">
  <div fxLayout="row" fxLayoutAlign="space-between center" style="margin-bottom: 20px;">
    <span class="title">Availability</span>
    <div class="select-wrapper">
      <select name="availability" id="availability" [(ngModel)]="selectedAvailability" (change)="onAvailabilityChange()">
        <option value="" disabled>Set Availability</option>
        <option value="available">Available</option>
        <option value="unavailable">Unavailable</option>
      </select>
      <i class="bi bi-eject-fill select-icon"></i>
    </div>
  </div>

  <ng-container *ngIf="calendarReady">
    <full-calendar [options]="calendarOptions"></full-calendar>
  </ng-container>
</div>
