<div class="availability-container">
  <div fxLayout="row" fxLayoutAlign="space-between center" style="margin-bottom: 20px;">
    <span class="title">Availability</span>
    <span class="title">Select Date Range</span>
  </div>

  <!-- <div class="toolbar-dropdown">
    <mat-form-field appearance="outline">
      <mat-label>Select Option</mat-label>
      <mat-select [(value)]="selectedValue">
        <mat-option *ngFor="let option of selectOptions" [value]="option">
          {{ option }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div> -->

  <ng-container *ngIf="calendarReady">
    <full-calendar [options]="calendarOptions"></full-calendar>
  </ng-container>
</div>
