.container {
  width: 100%;
  min-height: calc(100vh - 2rem);
  height: 100%;
  padding: 20px;
  border-radius: 20px;
  border: 5px solid rgba(18, 19, 21, 0.85);
  background: rgba(18, 19, 21, 0.85);
  margin-bottom: 15px;
}

.app-description-box, .guides-list-box {
  background: rgba(18, 19, 21, 1);
  border: 3px solid rgba(251, 226, 76, 1);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-description-box {
  height: 15vh;
  margin-bottom: 40px;
}

.guides-list-box {
  height: 185px;
  margin-bottom: 20px;
  padding: 1% 2%;
  width: 100%;
}

.app-description-box p {
  text-align: center;
  margin: 0;
  font-family: "Carter One", system-ui!important;
  font-weight: 400;
  font-size: 2rem;
  color: rgba(251, 226, 76, 1);
}

.page-title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 16px;
}

.search-box {
  border: 3px solid rgba(251, 226, 76, 1);
  border-radius: 20px;
  max-width: 60vw;
  width: 60vw;
  margin: 0 auto;
  padding: 1%;
  background: rgba(18, 19, 21, 1);
  margin-bottom: 40px;
}

.form-field {
  width: 100%;
  max-width: 100%;
}

.search-button {
  background-color: rgba(240, 139, 195, 1)!important;
  color: black;
  border: 2px solid rgba(0, 0, 0, 1);
  border-radius: 15px;
  font-size: 1rem;
  cursor: pointer;
  height: 61px;
}

.profile-button {
  background-color: rgba(240, 139, 195, 1)!important;
  color: black;
  border: 2px solid rgba(0, 0, 0, 1);
  border-radius: 15px;
  font-size: 1rem;
  cursor: pointer;
  padding: 20px 40px;
}

.accept-button {
  padding: 25px 17px;
  background-color: rgba(139, 240, 146, 1)!important;
}

.decline-button {
  padding: 25px 17px;
  background-color: rgba(240, 112, 114, 1)!important;
}

.label {
  color: rgba(241, 224, 43, 1);
  font-family: "Carter One", system-ui!important;
  font-weight: 400;
  font-size: 1.75rem;
}

.name-label {
  color: rgba(241, 224, 43, 1);
  font-family: "Carter One", system-ui!important;
  font-weight: 400;
  font-size: 1rem;
}

.review-label {
  color: rgba(241, 224, 43, 1);
  font-family: "Carter One", system-ui!important;
  font-weight: 400;
  font-size: 1rem;
  margin-top: auto;
}

.no-bookings {
  color: rgba(241, 224, 43, 1);
  font-family: "Carter One", system-ui!important;
  transform: translateY(-2px);
}

.date-label {
  color: black;
  font-family: "Carter One", system-ui!important;
  font-weight: 400;
  color: black;
  font-size: 1rem;
}

select {
  font-size: 1rem;
  font-family: "Aclonica", serif;
  font-weight: 400;
  color: black;
  width: 100%;
  height: 38px;
  padding: 0 10px;
}

#regionSelect {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: none;
  width: 100%;
  font-size: 1rem;
  border: 1px solid #ccc;
  background-color: white;
}

.select-wrapper {
  position: relative;
  width: 100%;
  border: 4px solid black;
}

.select-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-55%) rotate(180deg);
  font-size: 1rem;
  color: black;
}

#anywhere {
  margin-top: 1vh;
  height: 25px;
  width: 50px;
}

.custom-checkbox {
  transform: translateY(-2px);
  margin-left: 10px;
  height: 25px;
  width: 25px;
  border: 2px solid rgba(241, 224, 43, 1);
  background-color: rgba(0, 0, 0, 0.2);
  appearance: none;
  position: relative;
  cursor: pointer;
  border-radius: 4px;
}

.custom-checkbox:checked {
  background-color: rgba(0, 0, 0, 0.2);
}

.custom-checkbox:checked::before {
  content: "\F26E"!important;
  font-family: "bootstrap-icons" !important;
  font-size: 1.4rem;
  background-color: rgba(0, 0, 0, 0.2);
  color: yellow;
}

:host ::ng-deep .mat-mdc-text-field-wrapper {
  height: 46px;
}

:host ::ng-deep .mat-mdc-text-field-wrapper{
  border: 4px solid black;
}

:host ::ng-deep .mat-mdc-form-field-infix {
  padding-top: 7px!important;
  padding-bottom: 0px!important;
  min-height: 38px;
  width: 240px!important;
}

:host ::ng-deep .mdc-text-field--filled {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

:host ::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

:host ::ng-deep .mdc-text-field {
  padding: 0 11px;
}

:host ::ng-deep .date-picker .mat-mdc-icon-button {
  color: black;
  transform: translateY(-5px);
}

:host ::ng-deep .date-picker .mat-date-range-input-inner {
  color: black;
  font-size: 1rem;
  font-family: "Aclonica", serif;
}

:host ::ng-deep .date-picker .mat-date-range-input-wrapper {
  max-width: 115px;
  width: 115px;
  min-width: 115px;
}

.guides-container, .image-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.responsive-image {
  height: 100%;
  object-fit: fill;
  min-width: 200px;
  max-height: 150px;
}


@media (min-width: 1400px) and (max-width: 1600px) {
  .mobilizer{
    margin-top: 0!important;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .mobilizer{
    margin-top: 6rem !important;
  }
}

@media (min-width: 1000px) and (max-width: 1200px) {
  .mobilizer{
    margin-top: 6rem !important;
  }
}

@media (min-width: 900px) and (max-width: 1100px) {
  .profile-button{
    padding: 10px 20px!important;
  }

  .image-container[_ngcontent-ng-c2947296339] {
    max-width: 35% !important;
  }

  .label {
    font-size: 1.25rem;
  }

  .date-label {
    font-size: 0.75rem;
  }
}

@media (min-width: 900px) and (max-width: 1600px) {
  .form-field {
    width: 100%;
  }

  .search-box {
    width: 100%;
    max-width: 100%;
    height: 11rem;
  }

  form {
    height: 100%;
  }

  .image-container {
    max-width: 25%!important;
  }

  .mobilizer {
    max-width: 50%!important;
    margin-top: 17%;
  }

  .mobilizer2 {
    max-width: 30%!important;
  }

  .responsive-image {
    min-width: 160px;
    max-height: 175px;
  }

  .guides-list-box {
    height: 200px;
  }

  .review-label {
    font-size: 0.8rem;
  }

  .user-label {
    font-size: 1.5rem;
  }

  .pending-class {
    max-width: 32%!important;
  }
}

@media (max-width: 899px) {
  .form-field {
    width: 100%;
  }

  .search-box {
    width: 100%;
    max-width: 100%;
    height: 100%;
  }

  form {
    height: 85%;
    flex-direction: column!important
  }

  .image-container {
    max-width: 25%!important;
  }

  .responsive-image {
    min-width: 100px;
    max-height: 75px;
  }

  .guides-list-box {
    height: 200px;
  }

  .review-label {
    font-size: 0.8rem;
    margin-left: -60%;
  }

  .name-label {
    font-size: 0.75rem;
  }

  .user-label {
    font-size: 1.5rem;
  }

  .label {
    font-size: 1rem;
  }

  .pending-class {
    max-width: 32%!important;
  }

  .mobilizer {
    max-height: 15%!important;
    padding: 25px;
  }

  .mobilizer3 {
    place-content: center center!important;
    margin: 2.5% auto;
  }
}

@media (max-width: 574px) {
  .container {
    padding: 0.25rem;
  }

  :host ::ng-deep .mat-mdc-form-field-infix {
    min-height: 19px;
    width: 120px!important;
    min-width: 50px!important;
  }

  :host ::ng-deep .date-picker .mat-date-range-input-wrapper {
    min-width: 80px;
  }

  .date-picker {
    min-width: 235px;
  }

  :host ::ng-deep .mat-mdc-text-field-wrapper {
    width: 100%;
  }

  :host ::ng-deep .mat-mdc-icon-button {
    --mdc-icon-button-icon-size: 20px!important;
  }

  :host ::ng-deep .date-picker .mat-date-range-input-inner {
    font-size: .7rem;
  }

  /* #pend {
    margin-left:22.5px;
  } */


   /* .date-picker {
    transform: scale(0.7);
  }

  .mobilizer {
    max-height: 15% !important;
    padding: 25px;
  }

  .label {
    font-size: 0.75rem;
    margin-left: 22.5%!important;
  }

  .name-label {
    font-size: 0.5rem;
    margin-left: 22.5%!important;
  }

  .review-label {
    font-size: 0.75rem;
  }

  .default-class {
    place-content: flex-end flex-start!important;
  }

  .pending-class {
    place-content: center center !important;
    max-width: 25% !important;
  }

  .date-label {
    font-size: 0.75rem;
  }

  .profile-button {
    padding: 0!important;
  }

  .no-left {
    margin-left: 0px!important;
    margin-bottom: 1rem!important;
  }

  .custom-checkbox {
    height: 15px;
  }

  .custom-checkbox:checked::before {
    font-size: 0.75rem;
  }

  .custom-checkbox::before {
    font-size: 0.75rem;
  } */
}

@media (max-width: 499px) {
  .mobilizer {
    flex-direction: column!important;
    align-items: flex-start!important;
    padding: 15px;
  }

  .pending-stage {
    max-width: 100%!important;
    margin: 15px 15px;
  }

  .confirmed-stage, .completed-stage {
    max-width: 100%!important;
  }

  .search-button {
    height: 42.5px;
  }

  .guides-list-box {
    padding: 3% 3%;
  }
}
