<div class="container">
  <div class="search-box">
  <!-- <div class="search-box" *ngIf="bookingsReady"> -->
    <form [formGroup]="searchForm">
      <div fxLayout="column" fxLayoutAlign="start start" fxFlex="40"  style="margin-right: 15px!important;" class="mobilizer2">
        <p class="label">Dates</p>

        <mat-form-field appearance="fill" class="date-picker">
          <mat-date-range-input [rangePicker]="picker" formGroupName="dateRange" >
            <input matStartDate placeholder="Start date" formControlName="start">
            <input matEndDate placeholder="End date" formControlName="end">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="center end" fxFlex="15" style="margin-bottom:0.75%;margin-right: 15px">
        <label class="name-label" for="confirmed">Confirmed</label><br>
        <input type="checkbox" class="custom-checkbox" formControlName="confirmed">
      </div>

      <div fxLayout="row" fxLayoutAlign="center end" fxFlex="14" style="margin-bottom:0.75%;;margin-right: 15px">
        <label class="name-label" for="pending">Pending</label><br>
        <input type="checkbox" class="custom-checkbox" formControlName="pending">
      </div>

      <div fxLayout="row" fxLayoutAlign="center end" fxFlex="15" style="margin-bottom:0.75%">
        <label class="name-label" for="completed">Completed</label><br>
        <input type="checkbox" class="custom-checkbox" formControlName="completed">
      </div>

      <div fxLayout="row" fxLayoutAlign="end center" fxFlex="25">
        <button mat-raised-button class="search-button" (click)="onSearch()">
          <p class="date-label">Search</p>
        </button>
      </div>

    </form>
  </div>

  <div class="guides-list-box" *ngFor="let booking of bookings">
    <div fxLayout="row" fxLayoutAlign="start start" fxFlex class="guides-container" fxLayoutGap="15px">

      <div fxLayout="column" fxLayoutAlign="start start" fxFlex="20" class="image-container">
        <img
          [src]="booking.profile_picture || '../../assets/images/user.png'"
          class="responsive-image"
          alt="Traveler Picture"
        />
      </div>

      <div fxLayout="column" fxLayoutAlign="start start" fxFlex="60" fxFill>
        <p class="label">{{ booking.username }}</p>
        <p class="name-label">{{ booking.name }} {{ booking.surname }}</p>
        <p class="name-label">{{ booking.email }}</p>

        <!-- <p class="label">{{ booking.email }}</p> -->
        <p class="review-label" *ngIf="booking.review">
          {{ booking.review?.length > 155 ? (booking.review | slice:0:155) + '...' : booking.review }}
        </p>
        <p class="review-label" *ngIf="!booking.review">
          Review - Traveller hasn't submitted a review yet.
        </p>
      </div>

      <div fxLayout="column" fxLayoutAlign="space-between end" fxFlex="20" fxFill [ngClass]="{ 'pending-class': booking.status === 'pending', 'default-class': true }">
        <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="10px" style="margin-left: auto;">
          <button
            *ngIf="booking.status === 'confirmed'"
            mat-raised-button
            class="profile-button"
            (click)="onCancelBooking(booking.booking_id)">
            <span class="date-label">Cancel</span>
          </button>

          <ng-container *ngIf="booking.status === 'pending'">
            <button
              mat-raised-button
              class="profile-button accept-button"
              color="primary"
              (click)="onAcceptBooking(booking.booking_id)">
              <span class="date-label">Accept</span>
            </button>

            <button
              mat-raised-button
              class="profile-button decline-button"
              color="warn"
              (click)="onDeclineBooking(booking.booking_id)">
              <span class="date-label">Decline</span>
            </button>
          </ng-container>

          <ng-container *ngIf="booking.status === 'completed'">
            <ng-container *ngIf="booking.rate !== '-1.0000'; else noRating">
              <app-star-rating
                [rating]="booking.rate"
                [readonly]="true"
                [fontSize]="'1em'">
              </app-star-rating>
            </ng-container>
            <ng-template #noRating>
              <p class="no-bookings">No Rating</p>
            </ng-template>
          </ng-container>

        </div>
        <p class="name-label">{{ booking.booked_date }}</p>
        <p class="name-label">
          {{
            booking.status === 'cancelled'
              ? 'Cancelled'
              : booking.status === 'pending'
              ? 'Pending'
              : booking.status === 'completed'
              ? 'Completed'
              : 'Confirmed'
          }}
        </p>
      </div>

    </div>
  </div>

  <div class="guides-list-box" *ngIf="bookings.length === 0">
    <div fxLayout="column" fxLayoutAlign="center center" fxFill>
      <p class="label">No bookings match your filters.</p>
    </div>
  </div>
</div>
