<div class="guide-card" *ngIf="formReady">
  <div class="guide-header">
    <div class="guide-avatar">
      <img [src]="safeUrl || '../../assets/images/user.png'" alt="Guide Profile">
    </div>
    <a class="resize-btn" (click)="toggleAvatarSize('patch')">Resize</a>
  </div>
  <div class="guide-body">
    <button mat-stroked-button color="primary" class="import" (click)="triggerFileInput()">Import New Avatar Photo</button>
    <input #fileInput type="file" accept="image/*" (change)="onFileChange($event)" hidden>
    <button mat-stroked-button color="primary" class="import">Import Media</button>
    <button mat-stroked-button color="primary" class="import">Media Gallery</button>
  </div>
</div>
