<div class="container" fxLayout="row" fxLayoutAlign="start stretch" fxFlexFill>
  <div class="image-box" fxFlex="70" fxFlexFill>
    <img
    [src]="'../../assets/images/logo.jpg'"
    class="responsive-image"
    alt="App Logo"/>
  </div>
  <div class="login-box" fxFlex="30" fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
    <div class="login-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="7.5%" fxFlexFill>
      <h2>Reset Password</h2>
      <form action="#" [formGroup]="newPasswordForm" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="25px">
        <mat-form-field appearance="fill" class="full-width" hideRequiredMarker="true">
          <mat-label>New Password</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
            required
            autocomplete="current-password">
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Toggle password visibility'"
            [attr.aria-pressed]="hide"
            type="button"
            style="transform: translate(0px, -3px);">
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width" hideRequiredMarker="true">
          <mat-label>Confirm Password</mat-label>
          <input
            matInput
            [type]="confirmHide ? 'password' : 'text'"
            required
            autocomplete="current-password"
            formControlName="password2"
            (input)="checkPasswordsMatch()">
          <button
            mat-icon-button
            matSuffix
            disabled
            type="button"
            style="transform: translate(0px, -3px);">
            <mat-icon [ngStyle]="{'color': passwordsMatch ? 'green' : 'red'}">
              {{ passwordsMatch ? 'check_circle' : 'cancel' }}
            </mat-icon>
          </button>
          <button
            mat-icon-button
            matSuffix
            (click)="confirmHide = !confirmHide"
            [attr.aria-label]="'Toggle password visibility'"
            [attr.aria-pressed]="confirmHide"
            type="button"
            style="transform: translate(0px, -3px);">
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
      </form>

      <button id="sign-up" mat-raised-button type="button" class="profile-button lgn" (click)="onNewPasswordSubmit()">Reset</button>

      <button mat-raised-button type="button" class="profile-button rgs" (click)="goBack()">Back</button>
    </div>
  </div>
</div>
