<!-- <div class="parent">
  <div class="container">
      <div class="forgot-box" *ngIf="!bringPassword">
          <h2>Forgot Password</h2>
          <form action="#" [formGroup]="forgotForm" (ngSubmit)="onEmailSubmit()">
            <div class="input-box">
              <input type="email" formControlName="email" required>
              <label>Email</label>
            </div>
            <button type="submit" class="btn" [disabled]="forgotForm.disabled || forgotForm.invalid">Send Code</button>
            <button class="btn" routerLink="/login">Back</button>
          </form>
      </div>
      <div class="forgot-box" *ngIf="bringPassword">
        <h2>Forgot Password</h2>
        <form action="#" [formGroup]="newPasswordForm" (ngSubmit)="onPasswordSubmit()">
          <div class="input-box">
            <input type="text" formControlName="password1" required>
            <label>New Password</label>
          </div>
          <div class="input-box">
            <input type="text" formControlName="password2" required>
            <label>Repeat New Password</label>
          </div>
          <button type="submit" class="btn" [disabled]="forgotForm.disabled || forgotForm.invalid || !passwordChecks">Submit</button>
          <button class="btn" routerLink="/login">Back</button>
        </form>
    </div>
  </div>
</div> -->

<div class="container" fxLayout="row" fxLayoutAlign="start stretch" fxFlexFill>
  <div class="image-box" fxFlex="70" fxFlexFill>
    <img
    [src]="'../../assets/images/logo.jpg'"
    class="responsive-image"
    alt="App Logo"/>
  </div>
  <div class="login-box" fxFlex="30" fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
    <div class="login-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="7.5%" fxFlexFill>
      <h2>Reset Password</h2>
      <form action="#" [formGroup]="forgotForm" (ngSubmit)="onEmailSubmit()" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="7.5px">
        <mat-form-field appearance="fill" class="full-width" hideRequiredMarker="true">
          <mat-label>Email</mat-label>
          <input matInput type="email" name="email" autocomplete="email" formControlName="email" required>
        </mat-form-field>
      </form>

      <button id="sign-up" mat-raised-button type="submit" class="profile-button lgn" [disabled]="forgotForm.disabled || forgotForm.invalid">Reset</button>

      <button mat-raised-button type="button" class="profile-button rgs" (click)="goBack()">Back</button>
    </div>
  </div>
</div>
