<div class="container" fxLayout="row" fxLayoutAlign="start stretch" fxFlexFill>
  <div class="image-box" fxFlex="70" fxFlexFill>
    <img
    [src]="'../../assets/images/logo.jpg'"
    class="responsive-image"
    alt="App Logo"/>
  </div>
  <div class="login-box" fxFlex="30" fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
    <div class="login-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="7.5%" fxFlexFill>
      <h2>Forgot Password</h2>
      <form action="#" [formGroup]="forgotForm" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="7.5px">
        <mat-form-field appearance="fill" class="full-width" hideRequiredMarker="true">
          <mat-label>Email</mat-label>
          <input matInput type="email" name="email" autocomplete="email" formControlName="email" required>
        </mat-form-field>
      </form>

      <button id="sign-up" mat-raised-button type="button" (click)="onEmailSubmit()" class="profile-button lgn">Reset</button>

      <button mat-raised-button type="button" class="profile-button rgs" (click)="goBack()">Back</button>
    </div>
  </div>
</div>
