<div class="availability-container" [ngStyle]="{ 'background': background }" [ngClass]="{ 'has-transform': background === 'transparent' }" *ngIf="calendarReady">

  <div fxLayout="row" fxLayoutAlign="space-between center" style="margin-bottom: 20px;">
    <span class="title" *ngIf="background !== 'transparent'">Availability</span>
    <span class="title" *ngIf="background === 'transparent'">Make a request for booking</span>
    <div class="select-wrapper" *ngIf="background !== 'transparent'">
      <select name="availability" id="availability" [(ngModel)]="selectedAvailability" (change)="onAvailabilityChange()">
        <option value="" disabled>Set Availability</option>
        <option value="available">Available</option>
        <option value="unavailable">Unavailable</option>
      </select>
      <i class="bi bi-eject-fill select-icon"></i>
    </div>
  </div>

  <ng-container *ngIf="calendarReady">
    <full-calendar [options]="calendarOptions"></full-calendar>
  </ng-container>

  <div style="padding-top: 30px;" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px" fxFill *ngIf="background === 'transparent'">
    <button mat-raised-button class="available-button available">
      <span class="date-label">Available</span>
    </button>
    <button mat-raised-button class="available-button not-available">
      <span class="date-label">Not Available</span>
    </button>
  </div>

  <div style="padding-top: 60px;" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px" fxFill *ngIf="background === 'transparent' && selectedUser.role !== 'guide'">
    <button mat-raised-button class="request-button" (click)="requestBooking()">
      <span class="date-label">Request a booking</span>
    </button>
  </div>


</div>

<div fxLayout="row" class="non-container" fxLayoutAlign="start start" fxLayoutGap="30px" *ngIf="!calendarReady">
  <div fxLayout="row" fxLayoutAlign="center center" fxFlex style="height: 100vh;">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
      <span class="loading-text">Loading...</span>
      <div class="spinner"></div>
    </div>
  </div>
</div>
