.body {
  width: calc(100% - 3rem);
  margin-left: 3.5rem;
  z-index: 0;
  position: relative;
  top: 0;
  transition: all .5 ease;
  background: #F1E02B;
  padding: 2rem 4rem 0 4rem;
}

.body-trimmed {
  width: calc(100% - 12.5rem);
  margin-left: 235px;
}

.body-md-screen {
  width: calc(100% - 5rem);
  margin-left: 5rem;
}

.body-auth {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e9de1d;
}
