.stardom {
  color: #f2cf0a;
}

@media (max-width: 1400px) {
  .star-rating {
    font-size: 1.5em!important;;
  }
}

@media (max-width: 574px) {
  .star-rating {
    font-size: 0.5em !important;
    margin-top: 10%;
    margin-left: -15%;
  }

  .window-state-class {
    font-size: 2rem !important;
    margin-top: 0%!important;
    margin-left: 0%!important;
  }
}
