
<div class="container" fxLayout="row" fxLayoutAlign="start stretch" fxFlexFill>
  <div class="image-box" fxFlex="70" fxFlexFill>
    <img
    [src]="'../../assets/images/logo.jpg'"
    class="responsive-image"
    alt="App Logo"/>
  </div>
  <div class="login-box" fxFlex="30" fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
    <div class="login-container" fxFlex="80" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="50px" fxFlexFill>
      <h2>Embark on a journey where local heritage meets modern innovation.</h2>
      <form action="#" [formGroup]="loginForm" (ngSubmit)="onSubmit()" *ngIf="formReady" fxLayout="column" fxLayoutAlign="center center">
        <mat-form-field appearance="fill" class="full-width" hideRequiredMarker="true">
          <mat-label>Email</mat-label>
          <input matInput type="email" name="email" autocomplete="email" formControlName="email" required>
        </mat-form-field>

        <p class="error-msg" [style.visibility]="emailErrorFlag ? 'visible' : 'hidden'">
          {{errorMessage}}
        </p>

        <mat-form-field appearance="fill" class="full-width" hideRequiredMarker="true">
          <mat-label>Password</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
            required
            autocomplete="current-password">
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Toggle password visibility'"
            [attr.aria-pressed]="hide"
            type="button"
            style="transform: translate(7.5px, 1px);">
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>

        <p class="error-msg" [style.visibility]="emailErrorFlag ? 'visible' : 'hidden'">
          {{errorMessage}}
        </p>

        <button mat-raised-button type="submit" class="profile-button lgn" style="margin-top: 2.5px">Login</button>

        <button mat-raised-button type="button" class="profile-button rgs" routerLink="/register" style="margin-top: 15px">Sign up</button>

        <div class="forgot-pass" style="margin-top: 30px">
          <a routerLink='/forgot'>Forgot your password?</a>
        </div>
      </form>
    </div>
    <div class="euro-container" fxFlex="20" fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
      <div class="eu-container" fxFlex="60" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="50px" fxFlexFill>
        <img
          [src]="'../../assets/images/eu.png'"
          class="eu-image"
          alt="EU Logo"/>
      </div>
      <div class="dia-container" fxFlex="40" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="50px" fxFlexFill>
        <img
          [src]="'../../assets/images/diaviou.jpg'"
          class="dia-image"
          alt="Dia Viou Logo"/>
      </div>
    </div>
  </div>
</div>
