<div class="container" fxLayout="row" fxLayoutAlign="start stretch" fxFlexFill>
  <div class="image-box" fxFlex="70" fxFlexFill>
    <img
    [src]="'../../assets/images/logo.jpg'"
    class="responsive-image"
    alt="App Logo"/>
  </div>
  <div class="login-box" fxFlex="30" fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
    <div class="login-container" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="7.5px" fxFlexFill>
      <h2>Register</h2>
      <form action="#" [formGroup]="registerForm" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="7.5px">
        <mat-form-field appearance="fill" class="full-width" hideRequiredMarker="true">
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="name" required>
        </mat-form-field>

        <p class="error-msg" [style.visibility]="nameErrorFlag ? 'visible' : 'hidden'">
          {{errorMessage}}
        </p>

        <mat-form-field appearance="fill" class="full-width" hideRequiredMarker="true">
          <mat-label>Surname</mat-label>
          <input matInput type="text" formControlName="surname" required>
        </mat-form-field>

        <p class="error-msg" [style.visibility]="surnameErrorFlag ? 'visible' : 'hidden'">
          {{errorMessage}}
        </p>

        <mat-form-field appearance="fill" class="full-width" hideRequiredMarker="true">
          <mat-label>Username</mat-label>
          <input matInput type="text" formControlName="username" required>
        </mat-form-field>

        <p class="error-msg" [style.visibility]="usernameErrorFlag ? 'visible' : 'hidden'">
          {{errorMessage}}
        </p>

        <mat-form-field appearance="fill" class="full-width" hideRequiredMarker="true">
          <mat-label>Email</mat-label>
          <input matInput type="email" name="email" autocomplete="email" formControlName="email" required>
        </mat-form-field>

        <p class="error-msg" [style.visibility]="emailErrorFlag ? 'visible' : 'hidden'">
          {{errorMessage}}
        </p>

        <mat-form-field appearance="fill" class="full-width" hideRequiredMarker="true">
          <mat-label>Password</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
            required
            autocomplete="current-password">
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Toggle password visibility'"
            [attr.aria-pressed]="hide"
            type="button"
            style="transform: translate(0px, -3px);">
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width" hideRequiredMarker="true">
          <mat-label>Confirm</mat-label>
          <input
            matInput
            [type]="confirmHide ? 'password' : 'text'"
            required
            autocomplete="current-password"
            formControlName="password2"
            (input)="checkPasswordsMatch()">
          <button
            mat-icon-button
            matSuffix
            disabled
            type="button"
            style="transform: translate(0px, -3px);">
            <mat-icon [ngStyle]="{'color': passwordsMatch ? 'green' : 'red'}">
              {{ passwordsMatch ? 'check_circle' : 'cancel' }}
            </mat-icon>
          </button>
          <button
            mat-icon-button
            matSuffix
            (click)="confirmHide = !confirmHide"
            [attr.aria-label]="'Toggle password visibility'"
            [attr.aria-pressed]="confirmHide"
            type="button"
            style="transform: translate(0px, -3px);">
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>

        </mat-form-field>

        <p class="error-msg" [style.visibility]="passErrorFlag ? 'visible' : 'hidden'">
          {{errorMessage}}
        </p>

        <div fxLayout="column" fxLayoutAlign="start start" style="width: 80%;">
          <label for="regionSelect" style="font-weight: 600;">Select Country</label>
          <div class="select-wrapper">
            <select name="region" id="regionSelect" formControlName="country">
              <option value="Austria">Austria</option>
              <option value="Belgium">Belgium</option>
              <option value="Bulgaria">Bulgaria</option>
              <option value="Croatia">Croatia</option>
              <option value="Republic of Cyprus">Cyprus</option>
              <option value="Czech Republic">Czech Republic</option>
              <option value="Denmark">Denmark</option>
              <option value="Estonia">Estonia</option>
              <option value="Finland">Finland</option>
              <option value="France">France</option>
              <option value="Germany">Germany</option>
              <option value="Greece">Greece</option>
              <option value="Hungary">Hungary</option>
              <option value="Ireland">Ireland</option>
              <option value="Italy">Italy</option>
              <option value="Latvia">Latvia</option>
              <option value="Lithuania">Lithuania</option>
              <option value="Luxembourg">Luxembourg</option>
              <option value="Malta">Malta</option>
              <option value="Netherlands">Netherlands</option>
              <option value="Poland">Poland</option>
              <option value="Portugal">Portugal</option>
              <option value="Romania">Romania</option>
              <option value="Slovakia">Slovakia</option>
              <option value="Slovenia">Slovenia</option>
              <option value="Spain">Spain</option>
              <option value="Sweden">Sweden</option>
            </select>
            <i class="bi bi-eject-fill select-icon"></i>
          </div>
        </div>

        <div fxLayout="column" fxLayoutAlign="start start" style="width: 80%;">
          <label for="regionSelect" style="font-weight: 600;">Select Region</label>
          <div class="select-wrapper">
            <select name="region" id="regionSelect" formControlName="region">
              <option value="Other">Other</option>
              <option value="Central_Greece">Central Greece</option>
              <option value="Macedonia">Macedonia</option>
              <option value="Crete">Crete</option>
              <option value="Thrace">Thrace</option>
            </select>
            <i class="bi bi-eject-fill select-icon"></i>
          </div>
        </div>

        <div fxLayout="column" fxLayoutAlign="start start" style="width: 80%;">
          <label for="regionSelect" style="font-weight: 600;">Select Role</label>
          <div class="select-wrapper">
            <select name="role" id="regionSelect" formControlName="role">
              <option value="pickARole">Pick a role</option>
              <option value="visitor">Traveler</option>
              <option value="guide">Guide</option>
            </select>
            <i class="bi bi-eject-fill select-icon"></i>
          </div>
        </div>

        <button id="sign-up" mat-raised-button type="button" (click)="onSubmit()" class="profile-button lgn">Sign up</button>

        <button mat-raised-button type="button" class="profile-button rgs" (click)="goBack()">Back</button>

      </form>
    </div>
  </div>
</div>
