<div class="container">

  <!-- App Description Text -->
  <div class="app-description-box">
    <p>App Description Text</p>
  </div>

  <!-- Search Box -->
  <div class="search-box">
    <form [formGroup]="searchForm">
      <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="30px" fxFlex>

        <!-- Where -->
        <div fxLayout="column" fxLayoutAlign="start start" fxFlex="30">
          <p class="label">Where</p>
          <div class="select-wrapper">
            <select name="region" id="regionSelect" formControlName="region">
              <option value="all">All Regions</option>
              <option value="Other">Other</option>
              <option value="Central_Greece">Central Greece</option>
              <option value="Macedonia">Macedonia</option>
              <option value="Crete">Crete</option>
              <option value="Thrace">Thrace</option>
            </select>
            <i class="bi bi-eject-fill select-icon"></i>
          </div>

          <div fxLayout="row" fxLayoutAlign="start start" fxFlex style="margin-left: 0.5vw!important;">
            <label class="label" for="anywhere" style="margin-top: 0.5vh!important">Anywhere</label><br>
            <input type="checkbox" class="custom-checkbox" formControlName="anywhere" (change)="onAnywhereToggle($event)">
          </div>
        </div>

        <!-- Dates -->
        <div fxLayout="column" fxLayoutAlign="start start" fxFlex="40">
          <p class="label">Dates</p>

          <mat-form-field appearance="fill" class="date-picker">
            <mat-date-range-input [rangePicker]="picker" formGroupName="dateRange" >
              <input matStartDate placeholder="Start date" formControlName="start">
              <input matEndDate placeholder="End date" formControlName="end">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>

          <div fxLayout="row" fxLayoutAlign="start start" fxFlex style="margin-left: 0.5vw!important;">
            <label class="label" for="anytime" style="margin-top: 0.5vh!important">Anytime</label><br>
            <input type="checkbox" class="custom-checkbox" formControlName="anytime" (change)="onAnytimeToggle($event)">
          </div>
        </div>

        <!-- Search Button -->
        <div fxLayout="row" fxLayoutAlign="center center" fxFlex="30">
          <button mat-raised-button class="search-button" (click)="onSearch()">
            <p class="date-label">Search</p>
          </button>
        </div>

      </div>
    </form>
  </div>

  <!-- Guides List -->
  <div *ngIf="guidesReady && guides.length > 0">
    <div *ngFor="let guide of guides" class="guides-list-box">
      <div fxLayout="row" fxLayoutAlign="start start" fxFlex class="guides-container" fxLayoutGap="15px">
        <div fxLayout="column" fxLayoutAlign="start start" fxFlex="15" class="image-container">
          <img [src]="guide.profile_picture || '../../assets/images/user.png'" class="responsive-image">
        </div>

        <div fxLayout="column" fxLayoutAlign="start start" fxFlex="45">
          <p class="label">{{ guide.username }}</p>
          <p class="label">{{ guide.name }} {{ guide.surname }}</p>
          <div fxLayout="row" fxLayoutAlign="start start" fxFlex fxLayoutGap="15px" style="margin-top: 1rem!important;">
            <ng-container *ngIf="guide.average_rating !== '-1.0000'; else noRating">
              <app-star-rating [rating]="guide.average_rating" [readonly]="true" [fontSize]="'1.25em'"></app-star-rating>
            </ng-container>
            <ng-template #noRating>
              <p class="no-bookings">No Rating</p>
            </ng-template>
            <p class="no-bookings">({{ guide.total_bookings }})</p>
          </div>
        </div>

        <div fxLayout="column" fxLayoutAlign="space-between center" fxFlex="35" fxFill>
          <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
            <i class="bi bi-pin-map-fill no-bookings"></i>
            <p class="no-bookings">{{ guide.region }}, {{ guide.country }}</p>
          </div>
          <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="10px" style="margin-left: auto;">
            <button mat-raised-button class="profile-button" (click)="viewProfile(guide.guide_id)">
              <span class="date-label">View Profile</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- No Guides Message -->
  <div *ngIf="guides.length === 0" class="guides-list-box">
    <div fxLayout="column" fxLayoutAlign="center center" fxFill>
      <p class="label">No guides match your filter</p>
    </div>
  </div>

</div>
