<div class="container">

  <!-- App Description Text -->
  <div class="app-description-box">
    <p>Find a Guide</p>
  </div>

  <!-- Search Box -->
  <div class="search-box" *ngIf="windowWidth > 750">
    <form [formGroup]="searchForm">
      <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="30px" fxFlex>

        <!-- Where -->
        <div fxLayout="column" fxLayoutAlign="start start" fxFlex="30">
          <p class="label">Where</p>
          <div class="select-wrapper">
            <select name="region" id="regionSelect" formControlName="country">
              <option value="all">All Countries</option>
              <option value="Austria">Austria</option>
              <option value="Belgium">Belgium</option>
              <option value="Bulgaria">Bulgaria</option>
              <option value="Croatia">Croatia</option>
              <option value="Republic of Cyprus">Cyprus</option>
              <option value="Czech Republic">Czech Republic</option>
              <option value="Denmark">Denmark</option>
              <option value="Estonia">Estonia</option>
              <option value="Finland">Finland</option>
              <option value="France">France</option>
              <option value="Germany">Germany</option>
              <option value="Greece">Greece</option>
              <option value="Hungary">Hungary</option>
              <option value="Ireland">Ireland</option>
              <option value="Italy">Italy</option>
              <option value="Latvia">Latvia</option>
              <option value="Lithuania">Lithuania</option>
              <option value="Luxembourg">Luxembourg</option>
              <option value="Malta">Malta</option>
              <option value="Netherlands">Netherlands</option>
              <option value="Poland">Poland</option>
              <option value="Portugal">Portugal</option>
              <option value="Romania">Romania</option>
              <option value="Slovakia">Slovakia</option>
              <option value="Slovenia">Slovenia</option>
              <option value="Spain">Spain</option>
              <option value="Sweden">Sweden</option>
              <option value="Other">Other</option>
            </select>
            <i class="bi bi-eject-fill select-icon"></i>
          </div>

          <div fxLayout="row" fxLayoutAlign="start start" fxFlex style="margin-left: 0.5vw!important;">
            <label class="label" for="anywhere" style="margin-top: 0.5vh!important">Anywhere</label><br>
            <input type="checkbox" class="custom-checkbox" formControlName="anywhere" (change)="onAnywhereToggle($event)">
          </div>
        </div>

        <!-- Dates -->
        <div fxLayout="column" fxLayoutAlign="start start" fxFlex="40">
          <p class="label">Dates</p>

          <mat-form-field appearance="fill" class="date-picker">
            <mat-date-range-input [rangePicker]="picker" formGroupName="dateRange" >
              <input matStartDate placeholder="Start date" formControlName="start">
              <input matEndDate placeholder="End date" formControlName="end">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>

          <div fxLayout="row" fxLayoutAlign="start start" fxFlex style="margin-left: 0.5vw!important;">
            <label class="label" for="anytime" style="margin-top: 0.5vh!important">Anytime</label><br>
            <input type="checkbox" class="custom-checkbox" formControlName="anytime" (change)="onAnytimeToggle($event)">
          </div>
        </div>

        <!-- Search Button -->
        <div fxLayout="row" fxLayoutAlign="center center" fxFlex="30">
          <button mat-raised-button class="search-button" (click)="onSearch()">
            <p class="date-label">Search</p>
          </button>
        </div>

      </div>
    </form>
  </div>

  <!-- Search Box Mobile -->
  <div class="search-box" *ngIf="windowWidth <= 750">
    <form [formGroup]="searchForm">
      <div fxLayout="column" fxLayoutAlign="start space-between" fxLayoutGap="10px" fxFlex>

        <!-- Where -->
        <div fxLayout="row" fxLayoutAlign="space-between center" >

          <div fxLayout="column" fxLayoutAlign="start start">
            <p class="label">Where</p>
            <div class="select-wrapper">
              <select name="region" id="regionSelect" formControlName="country">
              <option value="all">All Countries</option>
              <option value="Austria">Austria</option>
              <option value="Belgium">Belgium</option>
              <option value="Bulgaria">Bulgaria</option>
              <option value="Croatia">Croatia</option>
              <option value="Republic of Cyprus">Cyprus</option>
              <option value="Czech Republic">Czech Republic</option>
              <option value="Denmark">Denmark</option>
              <option value="Estonia">Estonia</option>
              <option value="Finland">Finland</option>
              <option value="France">France</option>
              <option value="Germany">Germany</option>
              <option value="Greece">Greece</option>
              <option value="Hungary">Hungary</option>
              <option value="Ireland">Ireland</option>
              <option value="Italy">Italy</option>
              <option value="Latvia">Latvia</option>
              <option value="Lithuania">Lithuania</option>
              <option value="Luxembourg">Luxembourg</option>
              <option value="Malta">Malta</option>
              <option value="Netherlands">Netherlands</option>
              <option value="Poland">Poland</option>
              <option value="Portugal">Portugal</option>
              <option value="Romania">Romania</option>
              <option value="Slovakia">Slovakia</option>
              <option value="Slovenia">Slovenia</option>
              <option value="Spain">Spain</option>
              <option value="Sweden">Sweden</option>
              <option value="Other">Other</option>
            </select>
              <i class="bi bi-eject-fill select-icon"></i>
            </div>
          </div>

            <div fxLayout="row" fxLayoutAlign="start start">
              <label class="label" for="anywhere" style="margin-top: 0.5vh!important">Anywhere</label><br>
              <input type="checkbox" class="custom-checkbox" formControlName="anywhere" (change)="onAnywhereToggle($event)">
            </div>
        </div>

        <!-- Dates -->
        <div fxLayout="row" fxLayoutAlign="space-between center" >

          <div fxLayout="column" fxLayoutAlign="start start">
            <p class="label">Dates</p>

            <mat-form-field appearance="fill" class="date-picker">
              <mat-date-range-input [rangePicker]="picker" formGroupName="dateRange" >
                <input matStartDate placeholder="Start date" formControlName="start">
                <input matEndDate placeholder="End date" formControlName="end">
              </mat-date-range-input>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
          </div>


            <div fxLayout="row" fxLayoutAlign="start start">
              <label class="label" for="anytime" style="margin-top: 0.5vh!important">Anytime</label><br>
              <input type="checkbox" class="custom-checkbox" formControlName="anytime" (change)="onAnytimeToggle($event)">
            </div>
        </div>

        <!-- Search Button -->
        <div fxLayout="row" fxLayoutAlign="center center" fxFlex="30">
          <button mat-raised-button class="search-button" (click)="onSearch()">
            <p class="date-label">Search</p>
          </button>
        </div>

      </div>
    </form>
  </div>

  <!-- Guides List -->
  <div *ngIf="guidesReady && guides.length > 0">
    <div *ngFor="let guide of guides" class="guides-list-box">
      <ng-container *ngIf="windowWidth > 750">
        <div fxLayout="row" fxLayoutAlign="start start" fxFlex class="guides-container" fxLayoutGap="15px">
          <div fxLayout="column" fxLayoutAlign="start start" fxFlex="15" class="image-container">
            <img [src]="guide.profile_picture || '../../assets/images/user.png'" class="responsive-image">
          </div>

          <div fxLayout="column" fxLayoutAlign="start start" fxFlex="45">
            <p class="label">{{ guide.username }}</p>
            <p class="label">{{ guide.name }} {{ guide.surname }}</p>
            <div fxLayout="row" fxLayoutAlign="start start" fxFlex fxLayoutGap="15px" style="margin-top: 1rem!important;">
              <ng-container *ngIf="guide.average_rating !== '-1.0000'; else noRating">
                <app-star-rating [rating]="guide.average_rating" [readonly]="true" [fontSize]="'1.25em'"></app-star-rating>
              </ng-container>
              <ng-template #noRating>
                <p class="no-bookings">No Rating</p>
              </ng-template>
              <p class="no-bookings">({{ guide.total_reviews }})</p>
            </div>
          </div>

          <div fxLayout="column" fxLayoutAlign="space-between center" fxFlex="35" fxFill>
            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
              <i class="bi bi-pin-map-fill no-bookings"></i>
              <p class="no-bookings">{{ guide.region }}, {{ guide.country }}</p>
            </div>
            <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="10px" style="margin-left: auto;">
              <button mat-raised-button class="profile-button" (click)="viewProfile(guide.guide_id)">
                <span class="date-label">View Profile</span>
              </button>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="windowWidth <= 750">
        <div fxLayout="row" fxLayoutAlign="space-evenly start" fxFill class="guides-container" fxLayoutGap="15px">

          <div fxLayout="column" fxLayoutAlign="start start" fxFlex="50">
              <p class="label">{{ guide.username }}</p>
              <p class="label">{{ guide.name }} {{ guide.surname }}</p>
              <div fxLayout="column" fxLayoutAlign="start start" class="image-container">
                <img [src]="guide.profile_picture || '../../assets/images/user.png'" class="responsive-image">
              </div>
              <div fxLayout="row" fxLayoutAlign="start start" fxFlex fxLayoutGap="15px" style="margin-top: 1rem!important;" class="some-rating">
                <ng-container *ngIf="guide.average_rating !== '-1.0000'; else noRating">
                  <app-star-rating [rating]="guide.average_rating" [readonly]="true" [fontSize]="'1.25em'"></app-star-rating>
                </ng-container>
                <ng-template #noRating>
                  <p class="no-bookings">No Rating</p>
                </ng-template>
                <p class="no-bookings">({{ guide.total_reviews }})</p>
              </div>
          </div>

          <div fxLayout="column" fxLayoutAlign="space-around center" fxFlex="50">
            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
              <i class="bi bi-pin-map-fill no-bookings"></i>
              <p class="no-bookings">{{ guide.region }}, {{ guide.country }}</p>
            </div>
            <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="10px" style="margin-left: auto;">
              <button mat-raised-button class="profile-button" (click)="viewProfile(guide.guide_id)">
                <span class="date-label">View Profile</span>
              </button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <!-- No Guides Message -->
  <div *ngIf="guides.length === 0" class="guides-list-box">
    <div fxLayout="column" fxLayoutAlign="center center" fxFill>
      <p class="label">No guides match your filter</p>
    </div>
  </div>

</div>
