<h1>Dashboard</h1>
<div class="card">
  <div class="card-head">Lorem Ipsum - Guide 1</div>
  <div class="card-body">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id lectus id dolor convallis vestibulum. Nam auctor, felis a pellentesque interdum, metus lectus cursus eros, non venenatis nisl arcu nec ligula. Ut tempus quam a dui dictum, vel feugiat sapien pharetra. Integer vestibulum, libero nec bibendum facilisis, magna justo efficitur orci, nec dapibus metus ligula ac tortor. Sed tincidunt lorem vitae ultricies fermentum. Etiam porttitor lectus et enim venenatis, vitae fringilla justo aliquam. Proin et lacus at metus fringilla hendrerit id id lectus. Nulla facilisi.
  </div>
</div>
<div class="card">
  <div class="card-head">Lorem Ipsum - Guide 2</div>
  <div class="card-body">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id lectus id dolor convallis vestibulum. Nam auctor, felis a pellentesque interdum, metus lectus cursus eros, non venenatis nisl arcu nec ligula. Ut tempus quam a dui dictum, vel feugiat sapien pharetra. Integer vestibulum, libero nec bibendum facilisis, magna justo efficitur orci, nec dapibus metus ligula ac tortor. Sed tincidunt lorem vitae ultricies fermentum. Etiam porttitor lectus et enim venenatis, vitae fringilla justo aliquam. Proin et lacus at metus fringilla hendrerit id id lectus. Nulla facilisi.
  </div>
</div>
