<div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="30px">
  <div class="container" fxLayout="column" fxLayoutAlign="space-evenly center" fxLayoutGap="30px" fxFlex>
    <div class="details-box" fxLayout="row" fxLayoutAlign="start start" fxFlex="20" fxFill fxLayoutGap="30px">
      <div class="avatar-box" fxLayout="column" fxLayoutAlign="start start" fxFlex="15" fxFill>
        <img [src]="profilePic64 || '../../assets/images/user.png'" alt="Guide Profile">
      </div>
      <div class="profile-box" fxLayout="column" fxLayoutAlign="start start" fxFlex="60" fxFill fxLayoutGap="10px">
        <span class="username">&#64;{{username}}</span>
        <span class="fullname">{{fullName}}</span>
        <div fxLayout="row" fxLayoutAlign="start start" fxFill fxLayoutGap="10px">
          <app-star-rating [rating]="rating"></app-star-rating>
          <span class="username">({{total}})</span>
        </div>
      </div>
      <div class="region-box" fxLayout="column" fxLayoutAlign="start start" fxFlex="25" fxFill>
        <div fxLayout="row" fxLayoutAlign="end start" fxFill fxLayoutGap="10px">
          <i class="bi bi-pin-map-fill no-bookings"></i>
          <span class="username">{{region}}</span>
        </div>
      </div>
    </div>

    <div class="media-box" fxLayout="column" fxLayoutAlign="start start" fxFlex="70" fxLayoutGap="20px" fxFill>

      <div class="large-box" fxLayout="row" fxLayoutAlign="start start" fxFlex="70" fxLayoutGap="20px" fxFill>

        <!-- Large Image -->
        <div class="large-image" fxLayout="row" fxLayoutAlign="start start" fxFlex="70">
          <img
            [src]="mediaFiles[0] ? mediaFiles[0].media_data : '../../assets/images/carnival.jpeg'"
            alt="Large Image"
            class="responsive-image"
          />
        </div>

        <!-- Medium Box -->
        <div class="medium-box" fxLayout="column" fxLayoutAlign="start start" fxFlex="30" fxFill fxLayoutGap="20px">

          <div class="medium-image" fxLayout="column" fxLayoutAlign="start start" fxFlex="50">
            <img
              [src]="mediaFiles[1] ? mediaFiles[1].media_data : '../../assets/images/carnival.jpeg'"
              alt="Medium Image 1"
              class="responsive-image"
              style="width: -webkit-fill-available!important;"
            />
          </div>

          <div class="medium-image" fxLayout="column" fxLayoutAlign="start start" fxFlex="50">
            <img
              [src]="mediaFiles[2] ? mediaFiles[2].media_data : '../../assets/images/user.png'"
              alt="Medium Image 2"
              class="responsive-image"
              style="width: -webkit-fill-available!important;"
            />
          </div>
        </div>
      </div>

      <!-- SMALL BOX -->
      <div class="small-box" fxLayout="row" fxLayoutAlign="start start" fxFlex="30" fxLayoutGap="25px" fxFill>

        <!-- Render media images if they exist -->
        <ng-container *ngIf="mediaFiles.length > 3; else showDefaultImages">
          <ng-container *ngFor="let img of mediaFiles.slice(3, 8); let i = index">
            <div class="small-image" fxLayout="column" fxLayoutAlign="start start" fxFlex="20">
              <img
                [src]="img.media_data || '../../assets/images/user.png'"
                class="responsive-sm-image"
              />
              <span *ngIf="i === 4" class="all-pages">See All</span>
            </div>
          </ng-container>
        </ng-container>

        <!-- Fallback default images -->
        <ng-template #showDefaultImages>
          <ng-container *ngFor="let dummy of [0, 1, 2, 3, 4]; let i = index">
            <div class="small-image" fxLayout="column" fxLayoutAlign="start start" fxFlex="20">
              <img src="../../assets/images/user.png" class="responsive-sm-image" />
              <span *ngIf="i === 4" class="all-pages">See All</span>
            </div>
          </ng-container>
        </ng-template>

      </div>

    </div>

    <div class="description-box" fxLayout="row" fxLayoutAlign="start start" fxFlex="10" fxFill>
      <p>{{description}}</p>
    </div>
  </div>
  <div class="container" fxLayout="column" fxLayoutAlign="space-evenly center" fxLayoutGap="30px" fxFlex style="margin-top: 22px;">
    <app-availability [background]="'transparent'"></app-availability>
  </div>

  <div class="container" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="30px" style="margin-top: 22px;" >
    <span class="title">Reviews</span>

      <div class="review-container-wrapper" *ngIf="!!reviews?.length">
        <div
          class="review-container"
          *ngFor="let review of reviews"
          fxLayout="row"
          fxLayoutAlign="space-around center"
        >
          <div
            class="review-box"
            fxLayout="column"
            fxLayoutAlign="space-between start"
            fxFlex="80"
          >
            <p class="username">{{ review.username }}</p>
            <p class="comment">{{ review.comment }}</p>
          </div>
          <div
            class="review-box"
            fxLayout="column"
            fxLayoutAlign="space-between end"
            fxFlex="20"
          >
            <app-star-rating [rating]="review.rate"></app-star-rating>
            <p class="comment">
              {{ review.reviewed_at | date: 'mediumDate' }}
            </p>
          </div>
        </div>
      </div>
  </div>

</div>
