<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''" fxLayout="column" fxLayoutAlign="start center">
  <div class="logo-container">
    <div class="logo-text" *ngIf="!collapsed" (click)="toggleCollapse()">
      <img
        [src]="'../../assets/images/logo.jpg'"
        class="responsive-image"
        alt="App Logo"/>
    </div>
    <div class="logo-text" *ngIf="collapsed" (click)="closeSidenav()">
      <img
        [src]="'../../assets/images/logo.jpg'"
        class="responsive-image"
        alt="App Logo"/>
    </div>
  </div>

  <ul class="sidenav-nav">
    <li class="sidenav-nav-item" *ngFor="let data of filteredNavData">
      <a class="sidenav-nav-link"
        *ngIf="data.routeLink !== 'logout'; else logoutTemplate"
        [routerLink]="data.routeLink"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}"
         fxLayout="row" fxLayoutAlign="space-between center">
        <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">{{ data.label }}</span>
        <i class="sidenav-link-icon" [class]="data.icon"></i>
      </a>

      <ng-template #logoutTemplate>
        <a class="sidenav-nav-link" (click)="logout()" fxLayout="row" fxLayoutAlign="space-between center">
          <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">{{ data.label }}</span>
          <i class="sidenav-link-icon" [class]="data.icon"></i>
        </a>
      </ng-template>
    </li>
  </ul>

  <button @rotate class="btn-close centered" *ngIf="!collapsed" (click)="toggleCollapse()">
    <i class="bi bi-arrows-fullscreen close-icon"></i>
  </button>
  <button @rotate class="btn-close" *ngIf="collapsed" (click)="closeSidenav()" >
    <i class="bi bi-arrows-fullscreen close-icon"></i>
  </button>
</div>
