<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''" fxLayout="column" fxLayoutAlign="start center">
  <div class="logo-container">
    <div class="logo-text" *ngIf="!collapsed" (click)="toggleCollapse()">
      <img
        [src]="'../../assets/images/logo.jpg'"
        class="responsive-image"
        alt="App Logo"/>
    </div>
    <div class="logo-text" *ngIf="collapsed" (click)="closeSidenav()">
      <img
        [src]="'../../assets/images/logo.jpg'"
        class="responsive-image"
        alt="App Logo"/>
    </div>
  </div>

  <ul class="sidenav-nav">
    <li class="sidenav-nav-item" *ngFor="let data of filteredNavData">

      <!-- Case 1: External link (open in new tab) -->
      <a *ngIf="data.external; else internalOrLogout"
        class="sidenav-nav-link"
        [href]="data.routeLink"
        target="_blank"
        rel="noopener noreferrer"
        fxLayout="row"
        fxLayoutAlign="space-between center">
        <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">{{ data.label }}</span>
        <i class="sidenav-link-icon" [class]="data.icon"></i>
      </a>

      <!-- Case 2: Internal route or logout (handled in ng-template) -->
      <ng-template #internalOrLogout>
        <!-- Logout button -->
        <a *ngIf="data.routeLink === 'logout'; else internalRoute"
          class="sidenav-nav-link"
          (click)="logout()"
          fxLayout="row"
          fxLayoutAlign="space-between center">
          <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">{{ data.label }}</span>
          <i class="sidenav-link-icon" [class]="data.icon"></i>
        </a>

        <!-- Internal router link -->
        <ng-template #internalRoute>
          <a class="sidenav-nav-link"
            [routerLink]="data.routeLink"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            fxLayout="row"
            fxLayoutAlign="space-between center">
            <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">{{ data.label }}</span>
            <i class="sidenav-link-icon" [class]="data.icon"></i>
          </a>
        </ng-template>
      </ng-template>

    </li>
  </ul>

  <button @rotate class="btn-close centered" *ngIf="!collapsed" (click)="toggleCollapse()">
    <i class="bi bi-arrows-fullscreen close-icon"></i>
  </button>
  <div class="euro-container" *ngIf="collapsed && screenHeight > 800" fxLayout="row" fxLayoutAlign="start center">
    <div class="eu-container" fxFlex="60" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="50px" fxFlexFill>
      <img
        [src]="'../../assets/images/eu.png'"
        class="eu-image"
        alt="EU Logo"/>
    </div>
    <div class="dia-container" fxFlex="40" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="50px" fxFlexFill>
      <img
        [src]="'../../assets/images/diaviou.jpg'"
        class="dia-image"
        alt="Dia Viou Logo"/>
    </div>
  </div>
  <button @rotate class="btn-close" *ngIf="collapsed" (click)="closeSidenav()" >
    <i class="bi bi-arrows-fullscreen close-icon"></i>
  </button>
</div>
