<div fxFill fxLayout="column" fxLayoutAlign="space-around start" class="dashboard-component" fxLayoutGap="24px">

  <div class="title">Guides List</div>

  <div fxFill fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="24px">

    <app-datepicker></app-datepicker>

    <app-location-filters></app-location-filters>

    <mat-form-field class="search-field">
      <mat-label>Search by Last name</mat-label>
      <input matInput type="text" [(ngModel)]="searchName"(ngModelChange)=" searchByLastName($event)">
      <button *ngIf="searchName" matSuffix mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

  </div>
