<div class="container">

  <!-- App Description Text -->
  <div class="app-description-box">
    <p>App Description Text</p>
  </div>

  <!-- Search Box -->
  <div class="search-box">
    <form [formGroup]="searchForm">
      <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="30px" fxFlex>

        <div fxLayout="column" fxLayoutAlign="start start" fxFlex="30">
          <p class="label">Where</p>

          <div class="select-wrapper">
            <select name="region" id="regionSelect" formControlName="region">
              <option value="all">All Regions</option>
              <option value="Central_Greece">Central Greece'</option>
              <option value="Μacedonia">Macedonia</option>
              <option value="Crete">Crete</option>
              <option value="Τhrace">Thrace</option>
            </select>
            <i class="bi bi-eject-fill select-icon"></i>
          </div>

          <div fxLayout="row" fxLayoutAlign="start start" fxFlex style="margin-left: 0.5vw!important;">
            <label class="label" for="anywhere" style="margin-top: 0.5vh!important">Anywhere</label><br>
            <input type="checkbox" class="custom-checkbox" formControlName="anywhere">
          </div>
        </div>

        <div fxLayout="column" fxLayoutAlign="start start" fxFlex="40">
          <p class="label">Dates</p>

          <mat-form-field appearance="fill" class="date-picker">
            <mat-date-range-input [rangePicker]="picker" formGroupName="dateRange">
              <input matStartDate placeholder="Start date" formControlName="start">
              <input matEndDate placeholder="End date" formControlName="end">
            </mat-date-range-input>
             <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
             <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>

          <div fxLayout="row" fxLayoutAlign="start start" fxFlex style="margin-left: 0.5vw!important;">
            <label class="label" for="anytime" style="margin-top: 0.5vh!important">Anytime</label><br>
            <input type="checkbox" class="custom-checkbox" formControlName="anytime">
          </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center" fxFlex="30">
          <button mat-raised-button class="search-button" (click)="onSearch()">
            <p class="date-label">Search</p>
          </button>
        </div>

      </div>
    </form>
  </div>

  <!-- Guides List -->
  <div class="guides-list-box">
    <div fxLayout="row" fxLayoutAlign="start start" fxFlex class="guides-container" fxLayoutGap="15px">
      <div fxLayout="column" fxLayoutAlign="start start" fxFlex="15" class="image-container">
        <img src="../../../assets/images/diaviou.jpg" class="responsive-image">
      </div>
      <div fxLayout="column" fxLayoutAlign="start start" fxFlex="45">
        <p class="label">Guide Username 1</p>
        <div fxLayout="row" fxLayoutAlign="start start" fxFlex fxLayoutGap="15px">
          <app-star-rating [rating]="4.5" [fontSize]="'1em'"></app-star-rating>
          <p class="no-bookings">(Number of Bookings)</p>
        </div>
      </div>
      <div fxLayout="column" fxLayoutAlign="space-between center" fxFlex="35" fxFill>
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
          <i class="bi bi-pin-map-fill no-bookings"></i>
          <p class="no-bookings">Region, Country</p>
        </div>
        <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="10px" style="    margin-left: auto;">
          <button mat-raised-button class="profile-button" (click)="onSearch()">
            <span class="date-label">View Profile</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="guides-list-box">
    <div fxLayout="row" fxLayoutAlign="start start" fxFlex class="guides-container" fxLayoutGap="15px">
      <div fxLayout="column" fxLayoutAlign="start start" fxFlex="15" class="image-container">
        <img src="../../../assets/images/diaviou.jpg" class="responsive-image">
      </div>
      <div fxLayout="column" fxLayoutAlign="start start" fxFlex="45">
        <p class="label">Guide Username 1</p>
        <div fxLayout="row" fxLayoutAlign="start start" fxFlex fxLayoutGap="15px">
          <app-star-rating [rating]="4.5" [fontSize]="'1em'"></app-star-rating>
          <p class="no-bookings">(Number of Bookings)</p>
        </div>
      </div>
      <div fxLayout="column" fxLayoutAlign="space-between center" fxFlex="35" fxFill>
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
          <i class="bi bi-pin-map-fill no-bookings"></i>
          <p class="no-bookings">Region, Country</p>
        </div>
        <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="10px" style="    margin-left: auto;">
          <button mat-raised-button class="profile-button" (click)="onSearch()">
            <span class="date-label">View Profile</span>
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
